<!-- original:
<script src="{{ "js/jquery.min.js" | absURL }}"></script>

customisation: conditionally load jquery (based on blog post yaml parameter) 
exclude jquery for blog posts with datatable output in order to avoid version conflicts
see: https://bookdown.org/yihui/blogdown/html-widgets.html
-->
{{ if not .Params.exclude_jquery}}
<script src="{{ "js/jquery.min.js" | absURL }}"></script>
{{ end }}


<script src="{{ "js/bootstrap.min.js" | absURL }}"></script>
<script src="{{ "js/jquery.cookie.js" | absURL }}"> </script>
<script src="{{ "js/ekko-lightbox.js" | absURL }}"></script>
<script src="{{ "js/jquery.scrollTo.min.js" | absURL }}"></script>
<script src="{{ "js/masonry.pkgd.min.js" | absURL }}"></script>
<script src="{{ "js/imagesloaded.pkgd.min.js" | absURL }}"></script>
<script src="{{ "js/owl.carousel.min.js" | absURL }}"></script>
<script src="{{ "js/front.js" | absURL }}"></script>

<!-- Custom extension: scripts for inclusion of mathjax -->
<script src="{{ "js/math-code.js" | absURL }}"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>